/** Global settings **/

body {
  background-color: #ddd;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

blockquote {
  border-left-color: #444;
}

hr {
  width: 80%;
  margin-left: 10%;
  border-bottom: 0;
  border-top: 1px solid #333;
}

/** Bootstrap overrides **/

/* Buttons */

.btn {
  background-image: none;
  background-color: #333;
  border: 0;
  border-radius: 0;
  color: #eee;
  text-shadow: none;
}

.btn-group-vertical > .btn {
  width: 100%;
}

/* Tables */

.table-bordered {
  border: 1px solid #ccc;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #ccc;
}

.table th,
.table td {
  border-top: 1px solid #ccc;
}

/* Nav tabs */

.nav-tabs {
  border-bottom: 1px solid #ccc;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #444;
  background-color: #bbb;
  border: 1px solid transparent;
}

.nav-tabs > li > a {
  color: #333;
  background-color: #aaa;
  border: 1px solid transparent;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #eee;
  background-color: #333;
  border: 1px solid transparent;
}

/* Datepicker */

.datepicker {
  padding: 0;
}

/** Created for Exegesis view **/

.content {
  margin: 3rem;
}

.center-in-page {
  margin: 0 auto;
  text-align: center;
}

/** Pilot bar **/

.pilotbar {
  background: #333;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content .pilotbar {
  margin-top: 3rem;
  margin-bottom: 0;
}

.pilot {
  color: #aaa;
  margin: 10px;
  padding: 9px;
}

.pilot a { color: #aaa; }
.pilot a:visited { color: #aaa; }
.pilot a:hover {
  color: #ddd;
  text-decoration: none;
}

.pilot.selected {
  color: #333;
  background: #aaa;
}

.pilot.selected a { color: #333;}
.pilot.selected a:visited { color: #333;}
.pilot.selected a:hover {
  color: #555;
  text-decoration: none;
}
