<div class='row-fluid'>
  <div class='pilotbar span12'>
    <span class='pilot {% if page == "exegesis"   %} selected {% endif %}'><a href='exegesis.rb'>Exegesis</a></span>
    <span class='pilot {% if page == "ledger"     %} selected {% endif %}'><a href='ledger.rb'>Ledger</a></span>
    <span class='pilot {% if page == "panopticon" %} selected {% endif %}'><a href='panopticon.rb'>Panopticon</a></span>
    <span class='pilot {% if page == "mantra"     %} selected {% endif %}'><a href='mantra.rb'>Mantra</a></span>
    <span class='pilot {% if page == "quire"      %} selected {% endif %}'><a href='quire.rb'>Quire</a></span>
    <span class='pilot {% if page == "ecole"      %} selected {% endif %}'><a href='ecole.rb'>&Eacute;cole</a></span>
    <span class='pilot {% if page == "labyrinth"  %} selected {% endif %}'><a href='labyrinth.rb'>Labyrinth</a></span>
  </div>
</div>