{% if notification != empty %}
  <div class='row-fluid'>
    <div class='span12 alert {{notification_type}}'>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{notification}}
    </div>
  </div>
{% endif %}