<head>
  <link rel='stylesheet' href='{{core.site_url}}/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='{{core.site_url}}/bootstrap/css/bootstrap-responsive.min.css' />
  <link rel='stylesheet' type='text/css' href='{{core.base_url}}/css/style.css' />
  <link rel='icon' type='image/png' href='{{core.site_url}}/favicons/main.png' />
  <title>{{core.name}} : &eacute;cole</title>
</head>

<body>
  <script src='{{core.site_url}}/jquery.js'></script>
  <script src='{{core.site_url}}/bootstrap/js/bootstrap.js'></script>

  <div class='content'>
    <div class='row-fluid'>
      <div class='span12 pagination-centered'>
        <h1>Under construction.</h1>
      </div>
    </div>

    {% nav_footer %}
  </div>

  <div class='footer pagination-centered'>
    <small>{{core.version}}</small>
  </div>
</body>
