<head>
  <link rel='stylesheet' href='{{core.site_url}}/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='{{core.site_url}}/bootstrap/css/bootstrap-responsive.min.css' />
  <link rel='stylesheet' type='text/css' href='{{core.base_url}}/css/style.css' />
  <link rel='stylesheet' type='text/css' href='{{core.base_url}}/css/exegesis.css' />
  <link rel='icon' type='image/png' href='{{core.site_url}}/favicons/main.png' />
  <title>{{core.name}} : exegesis</title>
</head>

<body>
  <script src='{{core.site_url}}/jquery.js'></script>
  <script src='{{core.site_url}}/bootstrap/js/bootstrap.js'></script>
  <script src='{{core.site_url}}/jquery-ui.js'></script>

  {% if notification != empty %}
    <div class='row-fluid'>
      <div class='span12 alert {{notification_type}}'>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{notification}}
      </div>
    </div>
  {% endif %}

  <!-- Stats -->
  <div class='row-fluid'>
    <div class='span12'>

      {% for exposition_row in exposition_rows %}
        {% if exposition_row.title %}
          <div class='row-fluid'>
            <div class='span12 pagination-centered'>
              <span class='muted small'>{{exposition_row.title}}</span>
            </div>
          </div>
        {% endif %}
        <div class='row-fluid'>
          {% for exposition in exposition_row.expositions %}
            {% if forloop.first %}
              <div class='span2 offset{{6 | minus:forloop.length}} pagination-centered'>
            {% else %}
              <div class='span2 pagination-centered'>
            {% endif %}
              <p class='lead'>{{exposition.name}}</p>
              <h2>{{exposition.value}}</h2>
            </div>
          {% endfor %}
        </div>
        <hr>
      {% endfor %}
      <!--
      <div class='row-fluid'>
        <div class='span12 pagination-centered'>
          <p class='lead'>total</p>
          <h2>{{hours.total}}h</h2>
        </div>
      </div>

      <hr>

      <div class='row-fluid'>
        <div class='span12 pagination-centered'>
          <span class='muted small'>maximize dr&#248;m&#8756;iv</span>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span2 offset4 pagination-centered'>
          <p class='lead'>dr&#248;m&#8756;iv</p>
          <h2>{{percents.dr248m8756iv}}%</h2>
        </div>
        <div class='span2 pagination-centered'>
          <p class='lead'>akt&#8756;iv</p>
          <h2>{{percents.akt8756iv}}%</h2>
        </div>
      </div>

      <hr>

      <div class='row-fluid'>
        <div class='span12 pagination-centered'>
          <span class='muted small'>balance creative aspects</span>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span2 offset3 pagination-centered'>
          <p class='lead'>logical</p>
          <h2>{{percents.logical}}%</h2>
        </div>
        <div class='span2 pagination-centered'>
          <p class='lead'>visual</p>
          <h2>{{percents.visual}}%</h2>
        </div>
        <div class='span2 pagination-centered'>
          <p class='lead'>aural</p>
          <h2>{{percents.aural}}%</h2>
        </div>
      </div>

      <hr>

      <div class='row-fluid'>
        <div class='span12 pagination-centered'>
          <span class='muted small'>ten thousand hours</span>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span12'>
          <div class='span2 offset4 pagination-centered'>
            <p class='lead'>piano</p>
            <h2>{{hours.piano}}h</h2>
          </div>
          <div class='span2 pagination-centered'>
            <p class='lead'>sketching</p>
            <h2>{{hours.sketching}}h</h2>
          </div>
        </div>
      </div>
      <hr>
      -->
    </div>
  </div>

  {% if uid == 1 %}
    <div class='row-fluid'>
      <div class='span12 pagination-centered'>
        <img src='/images/e.png' width=128>
      </div>
    </div>
  {% endif %}

  <!-- Project Breakdown -->

  <!-- Calendar -->
  <div class='content'>
    {% for year in years %}
      <div class='row-fluid'>
        <div class='span12'>
          <blockquote><p>{{year[0]}}</p></blockquote>
        </div>
      </div>
      {% for month in year[1] %}
        {% capture mod %}{{ forloop.index0 | modulo:4 }}{% endcapture %}
        {% if mod == '0' %}
          {% unless forloop.first %}
            </div>  <!-- end the previous row-fluid -->
            <br>
          {% endunless %}
          <div class='row-fluid'>
        {% endif %}
        <div class='month span3'>
          <div class='row-fluid'>
            <p class='lead span6'>{{month[0]}}</p>
            <p class='lead span6 pagination-right'>{{month[1][0].hours}} h</p>
          </div>
          <ul class='unstyled'>
            {% for event in month[1] %}
              {% if event.project != 'total' %}
                <li>
                  <span class='project'>{{event.project}}</span>
                  <span class='hours'>{{event.hours}} h</span>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      </div> <!-- end the last row-fluid -->
    {% endfor %}

    {% nav_footer %}
  </div>

  <div class='footer pagination-centered'>
    <small>Inspired by <a href='http://wiki.xxiivv.com/Horaire'>XXIIVV</a>. {{core.version}}</small>
  </div>
</body>
