<head>
  <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/bootstrap/css/bootstrap-responsive.min.css' />
  <link rel='stylesheet' href='/bootstrap/css/bootstrap-select.min.css' />
  <link rel='stylesheet' href='/bootstrap/css/datepicker.css' />
  <link rel='stylesheet' type='text/css' href='{{core.base_url}}/css/style.css' />
  <link rel='icon' type='image/png' href='/favicons/main.png' />
  <title>{{core.name}} : ledger</title>
</head>

<body>
  <script src='/jquery.js'></script>
  <script src='/jquery-ui.js'></script>
  <script src='/bootstrap/js/bootstrap.min.js'></script>
  <script src='/bootstrap/js/bootstrap-select.min.js'></script>
  <script src='/bootstrap/js/bootstrap-datepicker.js'></script>
  <script>
    $(document).ready(function() {
      $('.selectpicker').selectpicker();
      $('.datepicker').datepicker();
    });
  </script>
  <style type="text/css">
    input { height: 30px !important; }
    img.tag { opacity: 0.7;}
    img.tag.selected { opacity: 1.0; }
  </style>

  <div class='content'>

    {% if notification != empty %}
      <div class='row-fluid'>
        <div class='span12 alert {{notification_type}}'>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{notification}}
        </div>
      </div>
    {% endif %}

    <form class='form-horizontal' action='ledger.rb' method='post'>
      <br>
      {% unless uid %}
        <div class='row-fluid'>
          <div class='span12 pagination-centered'>
              <input id='username' name='username' placeholder='Username' type='text'><br>
              <input id='password' name='password' placeholder='Password' type='password'><br>
            </div>
          </div>
          <br>
      {% endunless %}

      <!-- Add event -->
      <!--<div class='visible-phone'>

        <div class='control-group'>
          <label class='control-label' for='inputProject'>Project</label>
          <div class='controls'>
            <select id='inputProject' name='project' class='selectpicker' data-size='8'>
              {% for project in projects %}
                <option value='{{project.id}}'>{{project.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='inputTags'>Tags</label>
          <div class='controls'>
            <select id='inputTags' name='tags' class='selectpicker' multiple>
              {% for tag in tags %}
                <option value='{{tag.id}}'>{{tag.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='inputHours'>Hours</label>
          <div class='controls'>
            <input id='inputHours' name='hours' placeholder='Hours' type='text'>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='inputDate'>Date (Optional)</label>
          <div class='controls'>
            <div class='input-append date datepicker' data-date-format='yyyy-mm-dd'>
              <input id='date' name='date' readonly placeholder='Date (Optional)' type='text'>
              <span class='add-on'><i class='icon-th'></i></span>
            </div>
          </div>
        </div>
        <div class='row-fluid'>
          <button class='btn btn-inverse span12' type='submit'>Record</button>
        </div>
      </div>-->

      <!-- List previously entered events -->
      <div class='hidden-phone'>
        <div class='row-fluid'>
          <table class='table table-bordered'>
            <tr>
              <th>
                <select name='project' class='selectpicker' data-size='8'>
                  {% for project in projects %}
                    <option value='{{project.id}}'>{{project.name}}</option>
                  {% endfor %}
                </select>
              </th>
              <th>
                <select name='tags' class='selectpicker' multiple>
                  {% for tag in tags %}
                    <option value='{{tag.id}}'>{{tag.name}}</option>
                  {% endfor %}
                </select>
              </th>
              <th><input id='hours' name='hours' placeholder='Hours' type='text'></th>
              <th>
                <div class='input-append date datepicker' data-date-format='yyyy-mm-dd'>
                  <input id='date' name='date' readonly placeholder='Date (Optional)' type='text'>
                  <span class='add-on'><i class='icon-th'></i></span>
                </div>
              </th>
              <th><button class='btn btn-inverse' type='submit'>Record</button></th>
            </tr>
            <tr>
              <th>Project</th>
              <th>Tags</th>
              <th>Hours</th>
              <th>Time Recorded</th>
              <th></th>
            </tr>
            {% for event in events %}
              <tr>
                <td>{{event.project}}</td>
                <td>
                  {% for tag in event.tags %}
                    {{tag}}{% if forloop.last != true %},{% endif %}
                  {% endfor %}
                </td>
                <td>{{event.duration}}</td>
                <td>{{event.start}}</td>
                <td>
                  <div class='row-fluid'>
                    <div class='span12 pagination-centered'>
                      <a href='#'><i class='icon-remove-sign'></i></a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </form>

    {% nav_footer %}

  </div>

  <div class='footer pagination-centered'>
    <small>{{core.version}}</small>
  </div>
</body>
