<head>
  <link rel='stylesheet' href='{{core.site_url}}/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='{{core.site_url}}/bootstrap/css/bootstrap-responsive.min.css' />
  <link rel='stylesheet' type='text/css' href='{{core.base_url}}/css/style.css' />
  <link rel='icon' type='image/png' href='{{core.site_url}}/favicons/main.png' />
  <title>{{core.name}} : mantra</title>
</head>

<body>
  <script src='{{core.site_url}}/jquery.js'></script>
  <script src='{{core.site_url}}/bootstrap/js/bootstrap.js'></script>
  <script src='{{core.site_url}}/jquery-ui.js'></script>

  <div class='row-fluid'>
    <div class='span12 center-in-page'>
      <h1>{{mantra}}</h1>
    </div>
  </div>
</body>
