<head>
  <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/bootstrap/css/bootstrap-responsive.min.css' />
  <link rel='stylesheet' href='/bootstrap/css/bootstrap-select.min.css' />
  <link rel='stylesheet' type='text/css' href='{{core.base_url}}/css/style.css' />
  <link rel='icon' type='image/png' href='/favicons/main.png' />
  <title>{{core.name}} : panopticon</title>
</head>

<body>
  <script src='/jquery.js'></script>
  <script src='/bootstrap/js/bootstrap.min.js'></script>
  <script src='/bootstrap/js/bootstrap-select.min.js'></script>
  <script src='{{core.base_url}}/js/panopticon.js'></script>
  <style type="text/css">
    input { height: 30px !important; }
  </style>

  <div class='content'>
    {% if notification != empty %}
      <div class='row-fluid'>
        <div class='span12 alert {{notification_type}}'>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{notification}}
        </div>
      </div>
    {% endif %}
    {% unless uid %}
      <div class='row-fluid'>
        <div class='span12 pagination-centered'>
            <input id='username' name='username' placeholder='Username' type='text'><br>
            <input id='password' name='password' placeholder='Password' type='password'><br>
          </div>
        </div>
        <br>
    {% endunless %}
    <div class='row-fluid'>
      <div class='tabbable span12'>
        <ul class='nav nav-tabs'>
          <li class='active'><a href='#tab-projects' data-toggle='tab'>Projects</a></li>
          <li><a href='#tab-tags' data-toggle='tab'>Tags</a></li>
          <li><a href='#tab-inscriptions' data-toggle='tab'>Inscriptions</a></li>
          <li><a href='#tab-archives' data-toggle='tab'>Archives</a></li>
          {% if uid == 1 %}
            <li><a href='#tab-tempo' data-toggle='tab'>Tempo</a></li>
          {% endif %}
        </ul>
        <div class='tab-content'>
          <!-- Projects -->
          <div class='tab-pane active' id='tab-projects'>
            <table class='table table-bordered'>
              <tr>
                <td colspan=3>
                  <div class='row-fluid'>
                    <div class='span12 pagination-centered'>
                      <a href='#' class='btn btn-inverse add-project'><i class='icon-plus icon-white'></i> Project</a>
                      <a href='#' class='btn btn-inverse add-project-group'><i class='icon-plus icon-white'></i> Project Group</a>
                    </div>
                  </div>
                </td>
              </tr>
              {% for project in projects %}
                <tr>
                  <td><i class='icon-resize-vertical'></i></td>
                  <td><input class='name-project' data-project-id='{{project.id}}' type='text' value='{{project.name}}'></td>
                  <td>
                    <div class='row-fluid'>
                      <div class='span12 pagination-centered'>
                        <a href='#' class='archive-project' type='submit' data-project-id='{{project.id}}'><i class='icon-remove'></i></a>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
          <!-- Tags -->
          <div class='tab-pane' id='tab-tags'>
            <table class='table table-bordered'>
              <tr>
                <td colspan=3>
                  <div class='row-fluid'>
                    <div class='span12 pagination-centered'>
                      <a href='#' class='btn btn-inverse add-tag'><i class='icon-plus icon-white'></i> Tag</a>
                      <a href='#' class='btn btn-inverse add-tag-group'><i class='icon-plus icon-white'></i> Tag Group</a>
                    </div>
                  </div>
                </td>
              </tr>
              {% for tag in tags %}
                <tr>
                  <td><i class='icon-resize-vertical'></i></td>
                  <td><input class='name-tag' data-tag-id='{{tag.id}}' type='text' value='{{tag.name}}'></td>
                  <td>
                    <div class='row-fluid'>
                      <div class='span12 pagination-centered'>
                        <a href='#' class='archive-tag' type='submit' data-tag-id='{{tag.id}}'><i class='icon-remove'></i></a>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
          <!-- Inscriptions -->
          <div class='tab-pane' id='tab-inscriptions'>
            <div class='row-fluid pagination-centered'>
              <div class='span4'>
                <p class='lead'>Calendar</p>
                <div class='btn-group btn-group-vertical inscription' data-name='calendar' data-toggle='buttons-radio'>
                  <button class='btn btn-inverse {% if inscriptions.calendar == 'Gregorian' %} active {% endif %}'>Gregorian</button>
                  <button class='btn btn-inverse {% if inscriptions.calendar == 'Julian' %} active {% endif %}'>Julian</button>
                  <!-- Japanese calendar -->
                  <button class='btn btn-inverse {% if inscriptions.calendar == '&#24180;&#21495;' %} active {% endif %}'>&#24180;&#21495;</button>
                  <button class='btn btn-inverse {% if inscriptions.calendar == 'UNIX' %} active {% endif %}'>UNIX Time</button>
                </div>
              </div>
              <div class='span4'>
                <p class='lead'>Language</p>
                <div class='btn-group btn-group-vertical inscription' data-name='language' data-toggle='buttons-radio'>
                  <button class='btn btn-inverse {% if inscriptions.language == 'English' %} active {% endif %}'>English</button>
                  <button class='btn btn-inverse {% if inscriptions.language == 'Sublingua' %} active {% endif %}'>Sublingua</button>
                  <!-- Japanese -->
                  <button class='btn btn-inverse {% if inscriptions.language == '&#26085;&#26412;&#35486;' %} active {% endif %}'>&#26085;&#26412;&#35486;</button>
                  <!-- Arabic -->
                  <button class='btn btn-inverse {% if inscriptions.language == '&#1575;&#1604;&#1593;&#1585;&#1576;&#1610;&#1577;' %} active {% endif %}'>&#1575;&#1604;&#1593;&#1585;&#1576;&#1610;&#1577;</button>
                  <!-- Amharic -->
                  <button class='btn btn-inverse {% if inscriptions.language == '&#4768;&#4635;&#4653;&#4763;' %} active {% endif %}'>&#4768;&#4635;&#4653;&#4763;</button>
                </div>
              </div>
              <div class='span4'>
                <p class='lead'>Options</p>
                <div class='btn-group btn-group-vertical' data-toggle='buttons-checkbox'>
                  <button class='btn btn-inverse'>Public Exegesis</button>
                  <button class='btn btn-inverse'>Public Quire</button>
                  <button class='btn btn-inverse'>Public Mantra</button>
                </div>
              </div>
            </div>
            <hr>
            <div class='row-fluid pagination-centered'>
              <p class='lead'>Expositions</p>
              <div class='row-fluid pagination-centered'>
                <div class='span12'>
                  {% for exposition_row in inscriptions.expositions %}
                    {% if exposition_row.title %}
                      <div class='row-fluid'>
                        <div class='span12 pagination-centered'>
                          <span class='muted small'>{{exposition_row.title}}</span>
                        </div>
                      </div>
                    {% endif %}
                    <div class='row-fluid'>
                      {% for exposition in exposition_row.expositions %}
                        {% if forloop.first %}
                          <div class='span2 offset{{5 | minus:forloop.length}} pagination-centered'>
                        {% else %}
                          <div class='span2 pagination-centered'>
                        {% endif %}
                          <p class='lead'>{{exposition.name}}</p>
                          <h2>{{exposition.value}}</h2>
                        </div>
                        {% if forloop.last %}
                          <div class='span2 pagination-centered well'>
                            <p class='lead exposition-add-new'>Add new</p>
                            <h2>+</h2>
                          </div>
                        {% endif %}
                      {% endfor %}
                      {% if exposition_row.expositions == empty %}
                        <div class='span2 offset6 pagination-centered well exposition-add-new'>
                          <p class='lead'>Add new</p>
                          <h2>+</h2>
                        </div>
                      {% endif %}
                    </div>
                    <hr>
                  {% endfor %}
                  <div class='row-fluid exposition-add-row'>
                    <div class='span6 offset3 pagination-centered well'>
                      <p class='lead'>Add row</p>
                      <h2>+</h2>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <!-- Archives -->
          <div class='tab-pane' id='tab-archives'>
            <div class='row-fluid'>
              <div class='span6'>
                <!-- Archived tags -->
                <table class='table table-bordered'>
                  <tr>
                    <td colspan=2>
                      <div class='row-fluid'>
                        <div class='span12 pagination-centered'>Archived Tags</div>
                      </div>
                    </td>
                  </tr>
                  {% for tag in archived_tags %}
                    <tr>
                      <td>{{tag.name}}</td>
                      <td>
                        <div class='row-fluid'>
                          <div class='span12 pagination-centered'>
                            <a href='#' class='restore-tag' type='submit' data-tag-id='{{tag.id}}'><i class='icon-ok'></i></a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
              <div class='span6'>
                <table class='table table-bordered'>
                  <tr>
                    <td colspan=2>
                      <div class='row-fluid'>
                        <div class='span12 pagination-centered'>Archived Projects</div>
                      </div>
                    </td>
                  </tr>
                  {% for project in archived_projects %}
                    <tr>
                      <td>{{project.name}}</td>
                      <td>
                        <div class='row-fluid'>
                          <div class='span12 pagination-centered'>
                            <a href='#' class='restore-project' type='submit' data-project-id='{{project.id}}'><i class='icon-ok'></i></a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
          {% if uid == 1 %}
            <!-- Tempo -->
            <div class='tab-pane' id='tab-tempo'>
              <div class='row-fluid'>
                <div class='span12'>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% nav_footer %}
  </div>

  <div class='footer pagination-centered'>
    <small>{{core.version}}</small>
  </div>
</body>
