<head>
  <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/bootstrap/css/bootstrap-responsive.min.css' />
  <link rel='stylesheet' type='text/css' href='{{core.base_url}}/css/style.css' />
  <link rel='icon' type='image/png' href='/favicons/main.png' />
  <title>{{core.name}} : quire</title>
</head>

<body>
  <script src='/jquery.js'></script>
  <script src='/bootstrap/js/bootstrap.js'></script>
  <script src='{{core.base_url}}/js/panopticon.js'></script>

  {% if notification != empty %}
    <div class='row-fluid'>
      <div class='span12 alert {{notification_type}}'>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{notification}}
      </div>
    </div>
  {% endif %}

  <div class='content'>

    {% for quire in registrum %}
      <div class='row-fluid'>
        <div class='span12'>
          <blockquote><p><a class='quire-leaf' href='#' data-leaf-id='{{quire.id}}'>{{quire.title}}</a></p></blockquote>
        </div>
      </div>
    {% endfor %}

    {% if leaf %}
      <div class='row-fluid'>
        <p class='lead'>{{leaf.title}}</p>
        <p>{{leaf.content}}</p>
      </div>
    {% else %}
      <div class='row-fluid'>
        <input id='leaf-title' type='text' name='title' class='span12' placeholder='Title'>
      </div>
      <div class='row-fluid'>
        <textarea id='leaf-contents' name='contents' class='span12' rows='50'></textarea>
      </div>
      <div class='row-fluid'>
        <div class='span12 pagination-centered'>
          <a href='#' id='save-leaf' class='btn btn-inverse'>Save</button>
        </div>
      </div>
    {% endif %}

    {% nav_footer %}

  </div>

  <div class='footer pagination-centered'>
    <small>{{core.version}}</small>
  </div>
</body>
