<head>
  <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/bootstrap/css/bootstrap-responsive.min.css' />
  <link rel='stylesheet' type='text/css' href='{{core.base_url}}/css/style.css' />
  <link rel='icon' type='image/png' href='/favicons/main.png' />
  <title>{{core.name}} - labyrinth</title>
</head>

<body>
  <script src='/jquery.js'></script>
  <script src='/bootstrap/js/bootstrap.js'></script>
  <script src='/jquery-ui.js'></script>

  {% if notification != empty %}
    <div class='row-fluid'>
      <div class='span12 alert {{notification_type}}'>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{notification}}
      </div>
    </div>
  {% endif %}
  <div class='content'>
    {% for room in labyrinth %}
      <div class='row-fluid'>
        <div class='span12'>
          <blockquote><p><a href='labyrinth_edit.rb?room_id={{room.id}}'>{{room.name}}</a></p></blockquote>
        </div>
      </div>
    {% endfor %}
    <form action='quire.rb' method='post'>
      <div class='row-fluid'>
        <input type='text' name='title' class='span12' placeholder='Name'>
      </div>
      <div class='row-fluid'>
        <textarea name='contents' class='span12' rows='30'></textarea>
      </div>
      <div class='row-fluid'>
        <div class='span12 pagination-centered'>
          <button type='submit' class='btn btn-inverse'>Save</button>
        </div>
      </div>
    </form>

    <!-- Nav -->
    <div class='row-fluid'>
      <div class='pilotbar span10 offset1'>
        <span class='pilot'><a href='index.rb'>Stats</a></span>
        <span class='pilot'><a href='log.rb'>Log</a></span>
        <span class='pilot'><a href='mantra.rb'>Mantra</a></span>
        <span class='pilot'><a href='quire.rb'>Quire</a></span>
      </div>
    </div>

  </div>

  <div class='footer pagination-centered'>
    <small>{{core.version}}</small>
  </div>
</body>
