<head>
  <link rel='stylesheet' href='{{core.site_url}}/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='{{core.site_url}}/bootstrap/css/bootstrap-responsive.min.css' />
  <link rel='stylesheet' type='text/css' href='{{core.base_url}}/css/style.css' />
  <link rel='icon' type='image/png' href='{{core.site_url}}/favicons/main.png' />
  <title>{{core.name}} : labyrinth : {{room_name}}</title>
</head>

<body>
  <script src='{{core.site_url}}/jquery.js'></script>
  <script src='{{core.site_url}}/bootstrap/js/bootstrap.js'></script>
  <script src='{{core.site_url}}/jquery-ui.js'></script>

  <div class='content'>